body {
  margin: 0;
  background: #0b0b0b;
  color: #eee;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}
